* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  font-family: sans-serif;
  color: white;
}

.body-hot {
  background: linear-gradient(rgb(241, 239, 104), rgb(250, 95, 5));
}

.body-cold{
  background: linear-gradient(rgb(169, 230, 248), rgb(20, 208, 255));
  color:rgb(105, 103, 103)
}
.body-green{
  background: linear-gradient(rgb(67, 150, 67) , rgb(66, 207, 58)); 
}

.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature {
  flex-direction: column;
}

.degree {
  font-size: 20px;
  display: flex;
  align-items: flex-start;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.f-span {
  margin: 10px;
  font-size: 30px;
  display: flex;
  align-items: flex-start;
}

.degree-section h2 {
  font-size: 40px;
}

.long,
.lat {
  display: none;
}
